Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
Werkzeug==0.9.3
gunicorn==17.5
itsdangerous==0.22
wsgiref==0.1.2
numpy
http://pyyaml.org/download/pyyaml/PyYAML-3.10.tar.gz
http://pypi.python.org/packages/source/n/nltk/nltk-2.0.1rc4.zip